<form class="names-picker-form">
  <div class="names-picker-options">
    <div class="names-picker-controls">
      <div class="names-picker-form-group">
        <label for="picker-language">Sprache:</label>
        <select id="picker-language" name="language">
          {{#each languages}}
          <option value="{{this}}" {{#if (eq this ../defaultLanguage)}}selected{{/if}}>{{this}}</option>
          {{/each}}
        </select>
      </div>
      
      <div class="names-picker-form-group">
        <label for="picker-species">Spezies:</label>
        <select id="picker-species" name="species">
          {{#each species}}
          <option value="{{this}}" {{#if (eq this ../actorSpecies)}}selected{{/if}}>{{this}}</option>
          {{/each}}
        </select>
      </div>
      
      <div class="names-picker-form-group">
        <label for="picker-category">Typ:</label>
        <select id="picker-category" name="category">
          <option value="male">Männlich</option>
          <option value="female">Weiblich</option>
          <option value="surnames">Nachnamen</option>
          <option value="settlements">Siedlungen</option>
        </select>
      </div>
    </div>
    
    <button type="button" class="names-picker-generate">
      <i class="fas fa-sync-alt"></i>
      Neue Namen
    </button>
  </div>

  <div class="names-picker-names">
    <h3>Namen wählen:</h3>
    <div class="names-picker-list">
      <div class="names-picker-placeholder">
        <i class="fas fa-dice"></i>
        Klicke "Neue Namen" um 3 Vorschläge zu erhalten
      </div>
    </div>
  </div>
  
  <div class="names-picker-help">
    Klicke auf einen Namen um ihn für den Charakter zu übernehmen
  </div>
</form>